.lanes-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 220px;
}

.lanes {
  position: absolute;
  display: inline-block;
  width: 4000px;
  background: #ad7d4c;
}

.lane {
  position: relative;
  display: inline-block;
  visibility: hidden;
  border-radius: 50% 10% 10% 50%;
  width: 200px;
  height: 200px;
  margin: 10px 0;
  background: #deb068;

  $second: 0;
  @for $i from 0 through 19 {
    &#{$i} {
      animation: animation 25s linear #{$second}s infinite;
      $second: $second + 0.3;
    }
  }
}

.dish {
  position: absolute;
  top: 13%;
  left: 13%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #fff;
}

.sushi {
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 100px;
  cursor: pointer;
}

@keyframes animation {
  0% {
    visibility: visible;
    left: 40%;
  }
  100% {
    left: -100%;
  }
}